<!doctype html>
<html lang="ja">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.5.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.css" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue-icons.min.js"></script>

    <title>Cdecプロフィール</title>
</head>

<body>
    <b-navbar id="navbar" toggleable="lg" type="dark" variant="dark">
        <b-navbar-brand>Cdecプロフィール</b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav class="me-auto mb-2 mb-lg-0">
                <b-nav-item id="github-link" href="https://github.com/CdecPGL" target="_blank">
                    <i class="fab fa-github"></i>
                </b-nav-item>
                <b-nav-item id="giita-link" href="https://qiita.com/CdecPGL" target="_blank">
                    <img src="./materials/qiita_favicon.png">
                </b-nav-item>
                <b-nav-item id="twitter-link" href="https://twitter.com/CdecPGL" target="_blank">
                    <i class="fab fa-twitter"></i>
                </b-nav-item>
                <b-nav-item id="blog-link" href="https://cdecrement.blog.fc2.com/" target="_blank">
                    <img src="./materials/blog_icon.png">
                </b-nav-item>
                <b-nav-item id="email-link" href="mailto:cdecrement@gmail.com" target="_blank">
                    <i class="fas fa-envelope"></i>
                </b-nav-item>
            </b-navbar-nav>

            <b-navbar-nav class="me-auto mb-2 mb-lg-0">
                <b-nav-item id="clabt-link" href="#" target="_blank" disabled>
                    C-Lab Tech
                </b-nav-item>
                <b-nav-item id="clabg-link" href="#" target="_blank" disabled>
                    C-Lab Game
                </b-nav-item>
                <b-nav-item id="luftelli-link" href="https://luftelli.github.io/" target="_blank">
                    Luftelli
                </b-nav-item>
                <b-nav-item id="pgl-link" href="https://planetagamelabo.com/homepage/" target="_blank">
                    プラネタゲームラボ
                </b-nav-item>
            </b-navbar-nav>
        </b-collapse>

        <b-popover target="clabt-link" triggers="hover" placement="top">
            <template #title>技術情報まとめ場所</template>
            作成中。
        </b-popover>
        <b-popover target="clabg-link" triggers="hover" placement="top">
            <template #title>制作ゲームまとめ場所</template>
            作成中。
        </b-popover>
        <b-popover target="pgl-link" triggers="hover" placement="top">
            <template #title>個人制作ゲーム置き場</template>
            数年放置している。改装予定。
        </b-popover>
        <b-popover target="luftelli-link" triggers="hover" placement="top">
            <template #title>ゲーム制作サークル</template>
            オンライン対戦型3Dシューティングゲーム「光影の塔」を制作している4人のサークルです。
        </b-popover>
        <b-popover target="github-link" triggers="hover" placement="top">
            <template #title>GitHub</template>
            作成したライブラリ等のコードを置いています。
        </b-popover>
        <b-popover target="giita-link" triggers="hover" placement="top">
            <template #title>Qiita</template>
            技術的記事を書いています。（あまり書いてない）
        </b-popover>
        <b-popover target="twitter-link" triggers="hover" placement="top">
            <template #title>Twitter</template>
            何かしらつぶやいています。
        </b-popover>
        <b-popover target="blog-link" triggers="hover" placement="top">
            <template #title>個人ブログ</template>
            日記として気まぐれに書いています。（数年更新してない）
        </b-popover>
        <b-popover target="email-link" triggers="hover" placement="top">
            <template #title>メール</template>
            メールアドレス。
        </b-popover>
    </b-navbar>

    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <p class="text-center">趣味でゲームを作っています。仕事はゲームとは関係のないWebサービス開発エンジニア</p>
        <p class="text-center">趣味はゲーム制作、ゲーム（プレイするほう）、SF・ホラー映画鑑賞趣、自作PC</p>
    </div>

    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-5">ソフトウェア開発</h1>
    </div>

    <b-container id="repos-abstract">
        <!-- <b-row cols="1" cols-lg="2">
            <b-col>
                <img src="https://github-readme-stats.vercel.app/api?username=CdecPGL&count_private=true&show_icons=true"
                    width="100%" frameborder="0">
            </b-col>
            <b-col>
                <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=CdecPGL&layout=compact"
                    width="100%" frameborder="0">
            </b-col>
        </b-row> -->
        <b-row class="text-center">
            <b-col cols="9">
                <p>趣味のゲーム制作と仕事でプログラムを書いています。</p>
                <ul class="text-left">
                    <li>C++: 主にゲーム制作で使用
                        <ul>
                            <li>2013-2014年: DXライブラリを用いた2Dシューティングゲーム制作 [ソースコード]</li>
                            <li>2014-2016年: DXライブラリを用いた2Dゲームエンジン開発（断念） [ソースコード]</li>
                            <li>2018年-現在: boost.asioを用いたTCPオンラインゲームマッチングサーバー開発 [ソースコード]</li>
                        </ul>
                    </li>
                    <li>C#: 主にゲーム制作で使用
                        <ul>
                            <li>2014年: Unityを用いた2Dアクションゲーム制作</li>
                            <li>2015年: Unityを用いた2Dアクションゲーム制作</li>
                            <li>2016年: Unityを用いた見下ろし型2Dアクションゲーム制作</li>
                            <li>2017年-現在: Unityを用いたオンライン3Dシューティングゲーム制作 [ソースコード]</li>
                        </ul>
                    </li>
                    <li>Python: 大学時代の研究で使用していた。今は補助ツールの作成でたまに使用
                        <ul>
                            <li>2016年: Chainerを用いた画像認識の実装（研究）</li>
                            <li>2017-2018年: Caffe, Chainerを用いた画像認識の実装（研究）</li>
                            <li>2019年: Ansibleモジュールの実装（仕事）</li>
                        </ul>
                    </li>
                    <li>JavaScript: 主に仕事で使用</li>
                    <ul>
                        <li>2020年: Node.jsを用いた外部サービス連携開発、Node.jsを用いたWeb API開発補助（仕事）</li>
                        <li>2021年-現在: Chrome拡張の開発補助（仕事）</li>
                    </ul>
                    <li>TypeScript: 主に仕事で使用
                        <ul>
                            <li>2021年-現在: Node.jsを用いたWebSocketサーバー開発、Reactを用いたフロント開発補助（仕事）</li>
                        </ul>
                    </li>
                </ul>
            </b-col>
            <b-col>
                <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=CdecPGL"
                    width="100%" frameborder="0">
            </b-col>
        </b-row>
    </b-container>

    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <p class="lead">GitHubで公開している主なリポジトリ</p>
        <p>主にゲーム制作における生成物を公開しています。</p>
    </div>

    <b-container id="repos-panel">
        <b-row cols="1" cols-md="2" cols-lg="3" cols-xl="4">
            <b-col v-for="repo in repos">
                <b-card class="h-100">
                    <template #header>
                        <i class="fas fa-star"></i>{{ repo.starCount }}&ensp;<i class="fas fa-code-branch"></i>{{
                        repo.forkCount }}
                    </template>
                    <b-link :href="repo.url" target="_blank">
                        <b-card-title>{{ repo.title }}</b-card-title>
                    </b-link>
                    <b-card-text>{{ repo.body }}</b-card-text>
                    <template #footer>
                        <small class="text-muted">
                            <div v-for="footer in repo.footers">{{ footer }}<br /></div>
                        </small>
                    </template>
                </b-card>
            </b-col>
        </b-row>
    </b-container>

    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-5">ゲーム制作</h1>
        <p>現在はオンライン対戦3Dシューティングゲームを完成に向けて制作しています。主にUnityを使用してゲームを制作しています。完成までこぎつけたのはネタゲーが多い。プログラム中心でグラフィックやサウンドなどがおろそかになりがち……</p>
    </div>

    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <p class="lead">現在制作中のゲーム</p>
    </div>

    <b-container id="developing-games-panel">
        <b-row cols="1" cols-md="2" cols-lg="3">
            <b-col v-for="game in games">
                <b-card class="h-100">
                    <template #header>{{ game.header }}</template>
                    <b-link :href="game.url" target="_blank">
                        <b-card-title>{{ game.title }}</b-card-title>
                    </b-link>
                    <b-carousel controls indicators interval="5000">
                        <b-carousel-slide :img-src="thumbnail" v-for="thumbnail in game.thumbnails">
                        </b-carousel-slide>
                    </b-carousel>
                    <b-card-text>{{ game.body }}</b-card-text>
                    <template #footer>
                        <small class="text-muted">
                            <div v-for="footer in game.footers">{{ footer }}<br /></div>
                        </small>
                    </template>
                </b-card>
            </b-col>
        </b-row>
    </b-container>

    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <p class="lead">今まで公開したゲーム。</p>
    </div>

    <b-container id="released-games-panel">
        <b-row cols="1" cols-md="2" cols-lg="3">
            <b-col v-for="game in games">
                <b-card class="h-100">
                    <template #header>{{ game.header }}</template>
                    <b-link :href="game.url" target="_blank">
                        <b-card-title>{{ game.title }}</b-card-title>
                    </b-link>
                    <b-carousel controls indicators interval="5000">
                        <b-carousel-slide :img-src="thumbnail" v-for="thumbnail in game.thumbnails">
                        </b-carousel-slide>
                    </b-carousel>
                    <b-card-text>{{ game.body }}</b-card-text>
                    <template #footer>
                        <small class="text-muted">
                            <div v-for="footer in game.footers">{{ footer }}<br /></div>
                        </small>
                    </template>
                </b-card>
            </b-col>
        </b-row>
    </b-container>

    <footer class="footer"></footer>

    <script src="https://kit.fontawesome.com/16783d9da8.js" crossorigin="anonymous"></script>

    <script src="utility.js"></script>
    <script src="data.js"></script>
    <script src="index.js"></script>
</body>

</html>